@if (isMessageErr()) {
<div class="error">
    <p>Сообщение не отправлено</p>
    <button
        class="default-button error__button"
        (click)="setMessageError(false)"
    >
        Понятно😔
    </button>
</div>
}
<p class="email">{{ user()?.email }}</p>
<form [formGroup]="form" class="form" (ngSubmit)="submit()">
    <textarea
        formControlName="message"
        class="form__textarea"
        name="message"
        autocomplete="off"
        placeholder="Введите сообщение (максимум 200 символов)"
        maxlength="200"
    ></textarea>
    <button
        type="submit"
        class="default-button form__submit"
        [disabled]="form.invalid"
    >
        ->
    </button>
</form>
