@use "../node_modules/scss-reset/_reset.scss";

body {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.default-button {
    padding: 5px;
    background-color: gray;
    width: fit-content;
    margin-bottom: 10px;
}
